.side-left {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr;
}

.favorite-link-form {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}

.favorite-link-input {
  all: unset;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.link-all {
  display: flex;
  gap: 20px;
  padding: 60px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: black;
  color: white;
}
