.footer {
  position: fixed;
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.5);
  top: 60vh;
  left: 50vw;
  transform: translate(-50%, 0);
}

.quote {
  display: flex;
  line-height: 2.4vh;
  justify-content: center;
  text-align: center;
}

.author {
  display: flex;
  line-height: 5vh;
  justify-content: center;
}
